.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    

}

.modal-body {
    padding-top: 2rem;
    width: 600px;
    border-right: 5px;
    background: #fff;
    height: 800px;

}

.accept {
    background: #00A460 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #0000006B;
    border-radius: 11px;
    opacity: 1;
}
